#recipe-page{
  /* background-image: url("https://media.istockphoto.com/photos/wood-table-top-on-blur-kitchen-counter-background-picture-id1162090981?k=20&m=1162090981&s=170667a&w=0&h=vCe7N_OdsDs6EpgGdbIF48ViAMhuZ_Np4svIe68Qsw4="); */
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;
}
.ingredient-list{
    list-style: square;
    text-align: left;

}
.recipe-meta{
  padding: 20px;
  margin-bottom: 20px;
}
.meta-label{
  padding: 10px;

}
#ingredients-container{
    text-align: left;
    padding: 20px;
    border-radius: 5px;
}
#recipe-steps-list{
  text-align: left;
}
.nav-button{
  margin: 10px;
}
#recipe-steps-container{
  padding: 20px;
  margin: 20px;
}
.list-container{
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;

}
#recipe-title{
  text-decoration: underline;
}
#recipe-author{
  text-align: center;
  font-size: 15px;
}
.sub-meta-rp .sub-meta{
  background-color: rgb(250, 250, 250, 0.7);
  padding: 10px;
}
.recipe-step-rp{
  padding: 10px;
  margin: 10px;
}
.title-label-rp{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Bitter", serif;
}
#recipe-bg{
  background-position: center;
  background-size: cover;
  background-repeate: no-repeat;
  background-attachment: fixed;
}
.title-label-rp span{
  background-color: rgb(250, 250, 250, 0.7);
  padding: 10px;
  border-radius: 2px;
}

#recipe-description{
  margin-top: 30px;
  font-size: 20px;
  min-height: 100px;
  text-align: center;
  background-color: rgb(250, 250, 250, 0.7);
  border-radius: 2px;
  padding: 10px;

}
.snackbar, #hard-delete-sb{
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

.snackbar.show, #hard-delete-sb.show{
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }