#public-recipe-page{
    margin-bottom: 60px;
}
.article-header{
    font-family: "Libre Baskerville", serif;
    padding: 40px;
}
.recipe-card-content{
    padding: 10px;
}

.recipe-img{
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;
    color: white;
}

.pr-icon{
    height: 20px;
}