footer{
    border-top: 1px black solid;
    background-color: #005082;
    color: white;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    padding: 20px;
    width: 100%;
}
footer p{
    margin-bottom: 0;
}

p a {
    text-decoration: none;
    color: gray;
}