#restock-logo{
    width: 80px;
    position: absolute;
    top: -40px;
    left: 0px;
}
.add-remove-icon{
    width: 20px;
    transition: transform 0.2s ease;
}
.add-remove-icon:hover{
    transform: scale(1.2)
}
#add-icon{
    margin-left: 10px;
}
#remove-icon{
    margin-right: 10px;
}

#add-ingredient-button{
    margin-bottom: 30px;
    height: 60px;
}
#pantry-page{
    margin-bottom: 60px;
}
#pantry-content{
    padding: 10px;
}
#pantry-page-titles{
    padding: 20px;
    background-image: url("../Images/Backgrounds/pantry-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
