.carouse-bg{
    visibility: hidden;
    width: 400px;
    length: 100%;
    object-fit: cover;
}
.recipe-step{
    font-size: 25px;
    text-align: left;
}
.carousel-caption.top{
    top: 1.5rem;
}
.steps-list-container{
    border: 1px black solid;
    margin: 10px;
    text-align: left;
}

.active-list-step{
    border: 1px orange solid;
}
.pantry-select:hover{
    cursor: pointer;
}
#cooking-session-page{
    margin-bottom: 60px;
}