.dashboard-item{
    border: 1px black solid;
    margin: 20px;
    padding: 20px;
    border-radius: 2px;
}
.dashboard-item:hover{
    cursor: pointer;
}
.menu-card{
    overflow:hidden;
    position:relative;
    height: 80%;
    width: 80%;
    margin: auto;
}
.menu-card:hover .menu-card-label header{
    background-color: rgba(255,255,255, 0.9);
}
.menu-card:hover .menu-card-bg{
    transform: scale(1.1)
}
.menu-card-bg{
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    transition: transform 1s;
}
.dashboard-item{
    position: relative;
}
.menu-card-label header{
    /* border: 1px solid black; */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 1s ease-out;
}
.menu-card-label header h3 {
    margin: 0;
}

header h1 {
    font-family: "Libre Baskerville", serif;
}
article header{
    font-family: "Libre Baskerville", serif;
}
