.dashboard-item{
    border: 1px black solid;
    margin: 20px;
    padding: 10px;
    border-radius: 2px;
}
#dashboard-menu{
    padding-top: 40px;
    padding-bottom: 40px;
}
.dashboard-item:hover{
    cursor: pointer;
}
.menu-card{
    overflow:hidden;
    position:relative;

    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    min-height: 150px;
}
.menu-card:hover .menu-card-label header{
    background-color: rgba(255,255,255, 0.9);
}
.menu-card:hover .menu-card-bg{
    transform: scale(1.1)
}
.menu-card-bg{
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    transition: transform 1s;
}
.dashboard-item{
    position: relative;
}
.menu-card-label header{
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 1s ease-out;
}
.menu-card-label header h3 {
    margin: 0;
}

header h1 {
    font-family: "Libre Baskerville", serif;
}
article header{
    font-family: "Libre Baskerville", serif;
}
#welcome{
    margin: 30px;
    text-align: left;
}
#meals-cooked{
    font-size: 30px;
    margin-top: 20px;
}
#meals-cooked strong{
    background-color: yellow;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    padding: 5px;
}
#intro-dash{
    background-color: #ECFBFC;
    padding: 20px;
    border-bottom: 1px solid black;
}
#profile-pic-container{
    width: 200px;
    height: 200px;
    background-color: lightgray;
    background-position: center;
    margin: auto;
    border: 1px black solid;
    border-radius: 50%;
    position: relative;
    background-position: center;
    background-size: cover;
}
#ribbon{
    position: absolute;
    width: 200px;
    top: 80%;
    left: 50%;
    transform: translateX(-50%)
}

#chef-hat{
    position: absolute;
    width: 100px;
    top: -40%;
    lef: 50%;
    transform: translateX(-50%)
}

#ribbon-text{
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 15px;
}
#user-dashboard{
    margin-bottom: 50px;
}


